# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local 